body {
  background: peru;
  font-family: sans-serif;
}

.post {
  border: 10px solid red;
  background: white;
  padding: 20px;
  text-align: center;
  transition: .2s;
  overflow: hidden;
}


.post:hover {
  background: skyblue;
}

img, p {
  transition: .3s;
}
.post img {
  transform: translateY(-300px);
}

.post:hover img {
  transform: scale(1.2);
}

.post p {
  transform: translateY(100px);
}

.post:hover p {
  transform: translateY(0);
}
